body {
}

#ProjectTitle {
color:brown;
text-align:center;
font-size: 50px;
background-color:lightblue
}

#ForgotPasswordTitle {
color:brown;
text-align:center;
font-size: 50px;
background-color:lightblue
}